.outer-akihiro-game {
	margin: auto;
	background: url('parchment.jpg') repeat;
	width: 650px;
}

.inner-akihiro-game {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.inner-akihiro-game .title {
	font-size: 4em;
	font-family: hacked;
}

.inner-akihiro-game .commandments {
	font-style: italic;
}

.akihiro-hacked {
	font-family: hacked;
}

@font-face {
	font-family: hacked;
	src: url(HACKED.ttf);
}
